.movies-card {
  max-width: 360px;
  max-height: 320px;
  padding-bottom: 18px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-card__info-wrap {
  width: 100%;
  box-sizing: border-box;
  padding: 18px;
  display: flex;
  justify-content: space-between;
}

.movies-card__title {
  max-width: 75%;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movies-card__duration {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #a0a0a0;
}

.movies-card__trailer-link {
  width: 100%;
  height: 200px;
  margin-bottom: 18px;
  background-color: #000;
}

.movies-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #fff;
}

.movies-card__image:hover {
  opacity: .6;
  transition: opacity .2s linear 0s;
}

.movies-card__btn {
  width: 100px;
  height: 32px;
  border-radius: 30px;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.movies-card__btn_type_saved {
  background: #ff3055 url('../../images/movies-card/movies-card__btn_type_saved.png') center no-repeat;
}

.movies-card__btn_type_remove {
  background: #f9f9f9 url('../../images/movies-card/movies-card__btn_type_remove.png') center no-repeat;
}

@media screen and (max-width: 1200px) {
  .movies-card {
    max-height: 309px;
  }

  .movies-card__trailer-link {
    height: 190px;
  }

  .movies-card__btn {
    height: 29px;
  }
}
@media screen and (max-width: 750px) {
  .movies-card {
    max-height: 271px;
    padding-bottom: 14px;
  }

  .movies-card__info-wrap {
    padding: 14px;
  }

  .movies-card__trailer-link {
    height: 168px;
    margin-bottom: 14px;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 18px;
  }
}
