.navigation {
  min-width: 100%;
}

.navigation_opened {
  visibility: visible !important;
  opacity: 1 !important;
}

.navigation_type-link_burger {
  display: none;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
}

.navigation__films-wrap {
  align-self: center;
}

.navigation__movies-link {
  margin-right: 16px;
  font-size: 13px;
  line-height: 18px;
}

.navigation__saved-movies-link {
  font-size: 13px;
  line-height: 18px;
}

.navigation__accaunt-btn {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: #f9f9f9;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__accaunt-btn:hover {
  opacity: 0.6;
  transition: opacity 0.2s linear 0s;
}

@media screen and (max-width: 850px) {
  .navigation {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
  }

  .navigation__flex-block {
    display: none;
  }

  .navigation_type-link_burger {
    display: block;
  }

  .navigation__container {
    position: absolute;
    right: 0;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 159px 0 90px;
    background-color: #fff;
    box-sizing: border-box;
  }

  .navigation__films-wrap {
    display: flex;
    flex-direction: column;
  }

  .navigation__movies-link {
    margin: 0 0 28px;
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .navigation__saved-movies-link {
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .navigation__accaunt-link {
    align-self: center;
  }

  .navigation__accaunt-btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 500px) {
  .navigation__container {
    max-width: 320px;
    padding: 144px 0 46px;
  }
}
