@media screen and (max-width: 850px) {
  .burger-menu {
    width: 44px;
    height: 44px;
    background: transparent url('../../images/header/header__burger-btn.png') center no-repeat;
    background-size: 44px 44px;
  }

  .burger-menu_opened {
    width: 22px;
    height: 22px;
    background: transparent url('../../images/header/header_burger-open.png') center no-repeat;
    background-size: 22px 22px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    z-index: 2;
  }
}
