.about-me {
  padding: 110px 70px 100px;
}

.about-me__student-wrap {
  padding-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.about-me__photo {
  width: 262px;
  border-radius: 10px;
}

.about-me__description-wrap {
  max-width: 600px;
  min-height: 327px;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__name {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__description {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__biography {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.about-me__social-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.about-me__social-link_type_margin {
  margin-right: 20px;
}

@media screen and (max-width: 850px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__photo {
    width: 246px;
  }

  .about-me__description-wrap {
    min-height: 307px;
    margin-right: 50px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__biography {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    padding: 60px 15px 70px;
  }

  .about-me__photo {
    width: 284px;
    display: block;
    margin: auto;
  }

  .about-me__student-wrap {
    padding-top: 60px;
    display: block;
  }

  .about-me__description-wrap {
    min-height: auto;
    margin-right: 0;
  }

  .about-me__name {
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__description {
    margin-bottom: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__biography {
    margin-bottom: 40px;
    font-size: 11px;
    line-height: 16px;
  }
}
